/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #modal, .app-header, .create-trip {
   background-color: rgba(255, 255, 255, 0.1);
   position: absolute;
      transition: 1s;
 }

 #modal:hover, .app-header:hover, .create-trip:hover {
   background-color: rgba(255, 255, 255, 0.6);
   position: absolute;
 }

 #modal {
   width: 25%;
   height: 75%;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
 }

 #modal input {
   width: 100%;
   height: 30px;
   margin-bottom: 20px;
   background-color: #cecece;
}

 .app-header {
   width: 100%;
   height: 75px;
   top: 0;
 }


.create-trip {
   height: 75px;
   width: 25%;
   bottom: 0;
   right: 0;
 }
