/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 #modal, .app-header {
   background-color: rgba(255, 255, 255, 1);
   position: absolute;
      transition: 1s;
 }

 #modal {
   width: 25%;
   height: 70%;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   overflow-y: hidden;
 }

 #modal input {
   width: 90%;
   height: 30px;
   margin-left: 6.5%;
   margin-bottom: 20px;
   background-color: #fff;
   color: #ffc04c;
   border: 1px dashed #ffc04c;
}

 .app-header {
   width: 100%;
   height: 75px;
   top: 0;
   -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
 }


.button {
  position: absolute;
   background-color: #fff;
   height: 75px;
   width: 25%;
   bottom: 0;
   right: 0;
   -webkit-box-shadow: inset 0px 0px 25px 1px rgba(0,0,0,0.75);
   -moz-box-shadow: inset 0px 0px 25px 1px rgba(0,0,0,0.75);
   box-shadow: inset 0px 0px 25px 1px rgba(0,0,0,0.75);
 }

 .btn {
	border: none !important;
	border-radius: 0 !important;
	color: #000;
	background: #fff !important;
	cursor: pointer !important;
	display: inline-block !important;
	text-transform: uppercase !important;
	letter-spacing: 1px !important;
	font-weight: 700 !important;
	outline: none !important;
	-webkit-transition: all 0.3s !important ;
	-moz-transition: all 0.3s !important;
	transition: all 0.3s !important;
}

 .btn:after {
	content: '';
	position: relative;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 3px solid #ffc04c !important;
}

.btn-1e {
	overflow: hidden;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #ffc04c;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
	color: #fff !important;
}

.btn-1e:hover:after {
	height: 350px;
	opacity: 1;
}
