<!-- navigation -->
<nav class="pages-nav">
  <div class="pages-nav__item"><a class="link link--page" href="#page-home">Home</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-login">Login</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-signup">Sign up</a></div>
  </div>
</nav>
<!-- /navigation-->

<!-- pages stack -->
<div class="pages-stack">
  <!-- page -->
  <div class="page" id="page-home">
    <h1 class="head_text">Welcome to Travel App [only way to fly]</h1>
    <p class="head_text">aFreeman, dLee, jKim, tChiriga</p>
    <img src="/lib/images/image_1.jpg" alt="" />
  </div>
  <!-- /page -->
  <div class="page" id="page-login">
    <div class="fs-form-wrap page" id="fs-form-wrap-one">
      <form id="myform" class="fs-form fs-form-full" autocomplete="off" action="<%= session_path %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <ol class="fs-fields">
          <li>
            <label class="fs-field-label fs-anim-upper" for="q1">Username</label>
            <input name="user[username]" class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Joe_Travel" required/>
          </li>
          <li>
            <label class="fs-field-label fs-anim-upper" for="q2" >and Password?</label>
            <input name="user[password]" class="fs-anim-lower" id="q2" name="q2" type="password" placeholder="!@#$%^&*()" required/>
          </li>
        </ol><!-- /fs-fields -->
        <button class="fs-submit" type="submit">Submit</button>
      </form><!-- /fs-form -->
    </div><!-- /fs-form-wrap -->
  </div>
  <div class="page" id="page-signup">
    <div class="fs-form-wrap page" id="fs-form-wrap-two">
      <form id="myform" class="fs-form fs-form-full" autocomplete="off" action="<%= users_path %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <ol class="fs-fields">
          <li>
            <label class="fs-field-label fs-anim-upper" for="q3">Choose Username</label>
            <input name="user[username]" class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="Joe_Travel" required/>
          </li>
          <li>
            <label class="fs-field-label fs-anim-upper" for="q4" >and Password</label>
            <input name="user[password]" class="fs-anim-lower" id="q4" name="q4" type="password" placeholder="!@#$%^&*()" required/>
          </li>
          <li>
            <label class="fs-field-label fs-anim-upper" for="q5" >now enter Email</label>
            <input name="user[email]" class="fs-anim-lower" id="q5" name="q5" type="email" placeholder="Joe_Travel@us.a" required/>
          </li>
          <li>
            <label class="fs-field-label fs-anim-upper" for="q6" >and Full Name</label>
            <input name="user[full_name]" class="fs-anim-lower" id="q6" name="q6" type="text" placeholder="Joe L. Travel" required/>
          </li>
        </ol><!-- /fs-fields -->
        <button class="fs-submit" type="submit">Submit</button>
      </form><!-- /fs-form -->
    </div><!-- /fs-form-wrap -->
  </div>
  <div class="page" id="page-blank">
    
  </div>
</div>
<!-- /pages-stack -->

<button class="menu-button"><span>Menu</span></button>
