<!DOCTYPE html>
<html ng-app="mapp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
    <script src="../../assets/javascripts/ng_map.js"></script>
    <link rel="stylesheet" href="../../assets/stylesheets/mapp/mapp.css">
  </head>
  <body>
      <map center="0, 0" zoom="2">
        <input places-auto-complete types="['geocode']" on-place-changed="myCallback(place)" />
        <marker position="-25.363882,131.044922" title="Hello World!"></marker>
        <div class="div">

        </div>
      </map>
  </body>
</html>
